@font-face {
    font-family: 'zabras';
    src: url('fonts/Zabars.ttf') format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('IMG/5_background/first_half_background.png');
    font-family: 'zabras';
    margin: 0;
    overflow: hidden;
    touch-action: none;
}

h1{
    font-size: 61px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
canvas {
    background-color: black;

}

#rotate-overlay {
    position: fixed;
    inset: 0;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.rotate-message {
    width: 100%;
    height: 100%;
}

.rotate-message img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* keeps aspect ratio */
}

/* Make canvas fill screen in landscape */
canvas {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}


@media only screen and (max-width:720px) {
    canvas {width: 100%;}
    h1{display: none;}
    
}
@media only screen and (max-height:480px) {
    canvas {height: 100vh;}
    h1{display: none;}
    
}

#gameContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
}

canvas {
    image-rendering: pixelated;
    touch-action: none;

    /* CRITICAL */
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
}
